/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
   
}

body {
    font-family: montserrat, arial, verdana;
    background-color: #404040;
}

/*linkkien muotoilut*/

a:link {
    color: #ffffff;
    display: inline;
    font-size:x-large;
}

a:visited {
    color: #ffffff;
    display: inline;
    font-size:x-large;
}

a {
    color: #ffffff;
    font-size:x-large;
}

/*form styles*/
#msform {
	width: 750px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background-color: #7dcdc8;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 90%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 14px;
}
/*hoverit kenttiin*/

#msform input:hover {
    border: 1px solid black;
}

#msform select:hover {
    border: 1px solid black;
}

#msform #ongelmakuvaus:hover {
    border: 1px solid black;
}

/*kuvaus- ja koontikentät*/
textarea#ongelmakuvaus {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 90%;
	height: 180px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 14px;
}
textarea#koonti {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 90%;
	height: 380px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 14px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #006bb6;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
        background-color: #00aeef; border: 0px solid  #00aeef;
}

/*headings*/

.fs-title {
	font-size: 16px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}
/* Lomakkeen headereiden muotoilua*/
.formheader1 {
    text-align:left;
    font-size:14px;
    padding-left:7px;
}

.formheader2 {
    text-align:left;
    font-size:14px;
    padding-left:16px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
    border-color: black;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 11px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 11px;
	color: white;
	background: #c3c4b7;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #c3c4b7;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #7dcdc8;
	color: white;
}


/*Kysymysmerkki-tooltip-muotoilu */
span.question {
  cursor: pointer;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #006bb6;
  line-height: 24px;
  color: White;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  position:relative;
  left: 14px;
}
#questionHankala {
  cursor: pointer;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #006bb6;
  line-height: 24px;
  color: White;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  position:relative;
  left: 14px;
  top: -135px;
}
span.question:hover { background-color: #00aeef; }

span#questionHankala:hover { background-color: #00aeef; }

div.tooltip {
  background-color: #00aeef;
  color: White;
  position: absolute;
  left: 25px;
  top: -25px;
  z-index: 1000000;
  width: 250px;
  border-radius: 5px;
}

div.tooltip:before {
  border-color: transparent #00aeef transparent transparent;
  border-right: 6px solid #00aeef;
  border-style: solid;
  border-width: 6px 6px 6px 0px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  left: -6px;
}
div.tooltip p {
  margin: 10px;
  color: White;
}

.header1-dropdown {
    background-color: #C0D1DD;
}
/*#AABAC5, #D5E8F6, #F2F8FC*/
.header2-dropdown {
    background-color: #D5E8F6;
}

.header3-dropdown {
    background-color: #EAF4FA;
}

.option {
    background-color: white;
}

/*Liitenapin muotoilua*/
#msform .liitenappi#liitenappi {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: #006bb6;
  color: White;
  font-size: 14px;
  font-weight: bold;
  border: 0px solid black;
  border-radius: 25px;
  padding-bottom:0px;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  position:relative;
  right: 185px;
  top:0px;
}
#msform .liitenappi#liitenappi:hover{
        background-color: #00aeef; border: 0px solid  #00aeef;
}
.logo{
    background: url(images/tkulogo2.svg) no-repeat, #404040;
    height:5em; 
    width:200em;
    padding-bottom: 10em;
    padding-left:5em; 
}
.nav{
    width:100em;
    height:5em;
    padding-left: 80em;
}